[submodule "libfuji"]
	path = libfuji
	url = git@github.com:petabyt/libfuji.git
[submodule "ptp2"]
	path = ptp2
	url = https://github.com/petabyt/ptp2
[submodule "furble-glued"]
	path = libfurble
	url = https://github.com/petabyt/furble-glued
[submodule "libfurble"]
	path = libfurble
	url = https://github.com/petabyt/furble-glued.git
